<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sport Studio "Sport for All"</title>
    <style>
      h1 {
        color: white;
        height: 7px;
        line-height: 0;
        text-align: center;
      }
      h2 {
        color: white;
        line-height: 2;
        text-align: left;
      }
      p {
        color: greenyellow;
        line-height: 1,5;
        font-weight: bolder;
        text-align: left;
      }
      body {
        background-color: olive;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to our Sport Studio!</h1>

    <h2>Our Sport Arts</h2>
    <p>Fitness</p>
    <img
      src="https://www.dreamstime.com/detailed-vector-illustration-silhouettes-strong-rolling-people-set-girl-man-sport-fitness-gym-body-building-workout-powerlifti-image115536114"
      alt="you cannot see the image"
    />
    <ul>
      <li>GYM</li>
      <li>Group Trainings</li>
      <li>Private Trainings</li>
    </ul>
    <p>BodyBuilding</p>
    <p>Boxing</p>
    <p>Dance</p>
    <ul>
      <li>zumba</li>
      <li>bachata</li>
      <li>heels</li>
    </ul>
    <p>Yoga</p>
    <ul>
      <li>hatha yoga</li>
      <li>yin youga</li>
      <li>vinyasa yoga</li>
    </ul>

    <h2>For Your Health</h2>
    <p>Massage</p>
    <ul>
      <li>sport massage</li>
      <li>relax massage</li>
      <li>stone massage</li>
    </ul>
    <p>Sauna</p>
    <p>SwimmingPool</p>

    <h2>Other Information</h2>
    <p>
      More information and opening hours you can find at our website
      <a href="http://www.google.de"></a>
    </p>
  </body>
</html>
